<div class="btn-group">
    <button type="button" class="btn btn-dark"
            onclick="Modal.load('{{ url('user-parameters-form', {public_id: server.security.currentIdentity.publicId}) }}');"
    >
        <i class="fas fa-user fa-lg"></i>
        {{ server.security.currentIdentity.identifier }}
    </button>
    <a class="btn {% if _messages|length > 0 %}btn-danger{% else %}btn-dark{% endif %}" href="#"
       onclick="showToasts();" id="btn-show-toasts"
    >
        <i class="fas fa-comment-alt-exclamation  fa-lg"></i>
    </a>
    <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split"
            data-bs-toggle="dropdown" aria-expanded="false">
        <span class="visually-hidden">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
        <li>
            <a class="dropdown-item link-danger" href="{{ url('logout') }}">
                {{ icon('sign-out', 'fas') }}
                {{ DICT.menu.logout }}
            </a>
        </li>
        <li class="dropdown-divider"></li>
        <li>
            <a class="dropdown-item" href="#"
               onclick="Modal.load('{{ url('users-change-password-form', {public_id: server.security.currentIdentity.publicId}) }}');"
            >
                {{ icon('lock', 'fas') }}
                {{ DICT.users.change_password }}
            </a>
        </li>
    </ul>
</div>
