{% extends "thor/pages/base.html.twig" %}

{% block titlebar %}{{ icon('code-branch', 'fas', true) }} {{ DICT.changelog.title }}{% endblock %}

{% block page %}
    <div id="versions" class="d-flex flex-wrap">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    {{ DICT.changelog.legend }}
                </h5>
                <div class="card-text">
                    <ul class="fa-ul">
                        <li>
                            <span class="fa-li" style="color: #07b">{{ icon('plus-circle') }}</span>
                            Added
                        </li>
                        <li>
                            <span class="fa-li" style="color: #0b7">{{ icon('sync') }}</span>
                            Modified
                        </li>
                        <li>
                            <span class="fa-li" style="color: #a40">{{ icon('bug') }}</span>
                            Bug fixed
                        </li>
                        <li>
                            <span class="fa-li" style="color: #96f">{{ icon('palette') }}</span>
                            Style
                        </li>
                        <li>
                            <span class="fa-li" style="color: #c00">{{ icon('minus-square') }}</span>
                            Removed
                        </li>
                        <li>
                            <span class="fa-li" style="color: #888">{{ icon('sticky-note') }}</span>
                            Notes
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card flex-fill">
            <div class="card-body">
                <h5 class="card-title">
                    Release [1.0.0] <small class="text-primary">on-dev</small>
                </h5>
                <div class="card-text">
                    <ul class="fa-ul">
                        <li>
                            <span class="fa-li" style="color: #888">{{ icon('sticky-note') }}</span>
                            Doing : Web AjaxController and JS
                        </li>
                        <li class="text-muted">
                            <span class="fa-li" style="color: #888">{{ icon('sticky-note') }}</span>
                            Todo : Language consistency
                        </li>
                        <li class="text-muted">
                            <span class="fa-li" style="color: #888">{{ icon('sticky-note') }}</span>
                            Todo : Documentation
                        </li>
                        <li>
                            <span class="fa-li" style="color: #96f">{{ icon('palette') }}</span>
                            Login page and change password modal
                        </li>
                        <li>
                            <span class="fa-li" style="color: #c00">{{ icon('minus-square') }}</span>
                            Dropped : Thor configuration from the web client
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card flex-fill">
            <div class="card-body">
                <h5 class="card-title">
                    Version RC [0.9.6] <small class="text-muted">2022-06-03</small>
                </h5>
                <div class="card-text">
                    <ul class="fa-ul">

                        <li>
                            <span class="fa-li" style="color: #07b">{{ icon('plus-circle') }}</span>
                            Assets system (simple, cached, merged)
                        </li>
                        <li>
                            <span class="fa-li" style="color: #07b">{{ icon('plus-circle') }}</span>
                            Database types for <code>PdoTable</code> (<code>PdoTable/TableType</code>)
                        </li>
                        <li>
                            <span class="fa-li" style="color: #07b">{{ icon('plus-circle') }}</span>
                            <strong>Cli</strong> : REPL
                        </li>
                        <li>
                            <span class="fa-li" style="color: #07b">{{ icon('plus-circle') }}</span>
                            <strong>Cli</strong> : <code>daemon/run</code> command
                        </li>
                        <li>
                            <span class="fa-li" style="color: #07b">{{ icon('plus-circle') }}</span>
                            <strong>Web</strong> : KeyMapper and Toast system coupled with the controller messages
                        </li>
                        <li>
                            <span class="fa-li" style="color: #07b">{{ icon('plus-circle') }}</span>
                            A lot of new "tools" and "structures" :
                            <ul>
                                <li><code>Structures/Collection</code></li>
                                <li><code>Structures/DataStructures</code></li>
                                <li><code>Structures/Promise</code></li>
                                <li><code>Structures/BinaryNode</code></li>
                                <li><code>Tools/Arrays</code></li>
                                <li><code>Tools/DynamicYaml</code></li>
                                <li><code>Tools/Email</code></li>
                                <li><code>Tools/Guid</code></li>
                                <li><code>Tools/Spreadsheet</code></li>
                                <li>and many changes</li>
                            </ul>
                        </li>
                        <li>
                            <span class="fa-li" style="color: #0b7">{{ icon('sync') }}</span>
                            All modules reorganized (notably <code>Thor/Framework</code> and <code>Thor/Web</code>)
                        </li>
                        <li>
                            <span class="fa-li" style="color: #0b7">{{ icon('sync') }}</span>
                            <code>Cli/Console</code> rewritten
                        </li>
                    </ul>
                </div>
                <div class="card-text text-danger text-end mt-2">
                    {{ icon('exclamation-triangle') }} Public API has radically changed
                </div>
            </div>
        </div>
        <div class="card flex-fill">
            <div class="card-body">
                <h5 class="card-title">
                    Version &omega; [0.9]-[0.9.5] <small class="text-muted">2022-02-17</small>
                </h5>
                <div class="card-text">
                    <ul class="fa-ul">
                        <li>
                            <span class="fa-li" style="color: #07b;">{{ icon('plus-circle') }}</span>
                            PHP 8.1
                        </li>
                        <li>
                            <span class="fa-li" style="color: #07b;">{{ icon('plus-circle') }}</span>
                            <code class="text-primary">api.php</code> entry point
                        </li>
                        <li>
                            <span class="fa-li" style="color: #07b;">{{ icon('plus-circle') }}</span>
                            A lot of factories
                        </li>
                        <li>
                            <span class="fa-li" style="color: #07b;">{{ icon('plus-circle') }}</span>
                            <strong>Security</strong> : Authorization/permissions system
                        </li>
                        <li>
                            <span class="fa-li" style="color: #07b;">{{ icon('plus-circle') }}</span>
                            <strong>Security</strong> : User parameters
                        </li>
                        <li>
                            <span class="fa-li" style="color: #0b7;">{{ icon('sync') }}</span>
                            Index page
                        </li>
                        <li>
                            <span class="fa-li" style="color: #0b7;">{{ icon('sync') }}</span>
                            PSR inspired Http module
                        </li>
                        <li>
                            <span class="fa-li" style="color: #0b7;">{{ icon('sync') }}</span>
                            HTML module rewritten
                        </li>
                        <li>
                            <span class="fa-li" style="color: #0b7;">{{ icon('sync') }}</span>
                            Security module rewritten
                        </li>
                        <li>
                            <span class="fa-li" style="color: #a40;">{{ icon('bug') }}</span>
                            <code>core/update</code> command fixed
                        </li>
                        <li>
                            <span class="fa-li" style="color: #c00">{{ icon('minus-square') }}</span>
                            Web vendors (to be downloaded separately)
                        </li>
                        <li>
                            <span class="fa-li" style="color: #888">{{ icon('sticky-note') }}</span>
                            Language consistency
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card flex-fill">
            <div class="card-body">
                <h5 class="card-title">
                    Version &delta; [0.4] <small class="text-muted">2021-05-09</small>
                </h5>
                <div class="card-text">
                    <ul class="fa-ul">
                        <li>
                            <span class="fa-li" style="color: #07b;">{{ icon('plus-circle') }}</span>
                            Static kernels
                        </li>
                        <li>
                            <span class="fa-li" style="color: #07b;">{{ icon('plus-circle') }}</span>
                            Dynamic lang strings
                        </li>
                        <li>
                            <span class="fa-li" style="color: #07b;">{{ icon('plus-circle') }}</span>
                            <code>clear/cache</code> and <code>clear/logs</code> commands
                        </li>
                        <li>
                            <span class="fa-li" style="color: #07b;">{{ icon('plus-circle') }}</span>
                            Thor shortcuts class
                        </li>
                        <li>
                            <span class="fa-li" style="color: #888;">{{ icon('sticky-note') }}</span>
                            Documentation
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card flex-fill">
            <div class="card-body">
                <h5 class="card-title">
                    Version &gamma; [0.3] <small class="text-muted">2021-02-23</small>
                </h5>
                <div class="card-text">
                    <ul class="fa-ul">
                        <li>
                            <span class="fa-li" style="color: #07b;">{{ icon('plus-circle') }}</span>
                            Core commands (setup, routes : list, set)
                        </li>
                        <li>
                            <span class="fa-li" style="color: #07b;">{{ icon('plus-circle') }}</span>
                            Daemons and daemons control (start, stop, reset, kill, status)
                        </li>
                        <li>
                            <span class="fa-li" style="color: #07b;">{{ icon('plus-circle') }}</span>
                            PdoAttributes : <code>#[PdoRow], #[PdoIndex], #[PdoColumn], #[PdoForeignKey]</code>
                        </li>
                        <li>
                            <span class="fa-li" style="color: #07b;">{{ icon('plus-circle') }}</span>
                            RouterAttribute : <code>#[Route]</code>
                        </li>
                        <li>
                            <span class="fa-li" style="color: #07b;">{{ icon('plus-circle') }}</span>
                            <code class="text-primary">page-base.twig.html</code> page template
                        </li>
                        <li>
                            <span class="fa-li" style="color: #0b7">{{ icon('sync') }}</span>
                            Database module factoring + split PdoExtension & PdoTable
                        </li>
                        <li>
                            <span class="fa-li" style="color: #0b7">{{ icon('sync') }}</span>
                            PdoRowInterface : 'id' integer replaced by 'primary' array/string
                        </li>
                        <li>
                            <span class="fa-li" style="color: #96f">{{ icon('palette') }}</span>
                            Menu style
                        </li>
                        <li>
                            <span class="fa-li" style="color: #96f">{{ icon('palette') }}</span>
                            Load spinner on AJAX loading page and modals
                        </li>
                        <li>
                            <span class="fa-li" style="color: #c00">{{ icon('minus-square') }}</span>
                            DB definitions (replaced by PdoAttributesReader)
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card flex-fill">
            <div class="card-body">
                <h5 class="card-title">
                    Version &beta; [0.2] <small class="text-muted">2021-01-30</small>
                </h5>
                <div class="card-text">
                    <ul class="fa-ul">
                        <li>
                            <span class="fa-li" style="color: #07b;">{{ icon('plus-circle') }}</span>
                            User : Change password
                        </li>
                        <li>
                            <span class="fa-li" style="color: #07b">{{ icon('plus-circle') }}</span>
                            DB definitions
                        </li>
                        <li>
                            <span class="fa-li" style="color: #07b">{{ icon('plus-circle') }}</span>
                            Security module
                        </li>
                        <li>
                            <span class="fa-li" style="color: #0b7">{{ icon('sync') }}</span>
                            From Trehinos/Ombre
                            <ul>
                                <li>PHP 8.0 rewrite</li>
                                <li>CliKernel</li>
                                <li>Improvements</li>
                                <li>Page AJAX loading</li>
                                <li>Delete user</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    Version &alpha; [0.1] <small class="text-muted">2020-07-14</small>
                </h5>
                <div class="card-text">
                    <ul class="fa-ul">
                        <li>
                            <span class="fa-li" style="color: #07b">{{ icon('plus-circle') }}</span>
                            Kernel, application, HTTP module, PdoExtension, Logger, Validation
                        </li>
                        <li>
                            <span class="fa-li" style="color: #07b">{{ icon('plus-circle') }}</span>
                            Framework structure
                        </li>
                        <li>
                            <span class="fa-li" style="color: #07b">{{ icon('plus-circle') }}</span>
                            Web user management
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
