{% extends "thor/pages/base.html.twig" %}

{% block titlebar %}{{ icon('book', 'fas', true) }} {{ DICT.index.title }}{% endblock %}

{% block page %}
    <div class="alert alert-info mb-5">
        {{ DICT.index.thor_description }}
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    {{ DICT.index.documentation_text }}
                </div>
                <div class="card-footer">
                    <button onclick="menuClick($('#btn-documentation'))" class="box" style="background: #469">
                        {{ icon('book box-icon') }}
                        <span class="box-text">{{ DICT.index.documentation_button }}</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    {{ DICT.index.features_text }}
                </div>
                <div class="card-footer">
                    <button onclick="menuClick($('#btn-users'))" class="box" style="background: #832">
                        {{ icon('users box-icon') }}
                        <span class="box-text">{{ DICT.index.users_button }}</span>
                    </button>
                    <button onclick="menuClick($('#btn-manage-permissions'))" class="box" style="background: #a60">
                        {{ icon('gavel box-icon') }}
                        <span class="box-text">{{ DICT.index.permissions_button }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
