{% extends "thor/pages/base.html.twig" %}

{% block titlebar %}{{ icon('book', 'fas', true) }} {{ DICT.index.title }}{% endblock %}

{% block page %}
    <div class="container">
        <div class="alert alert-info mb-2">
            {{ DICT.index.thor_description }}
        </div>
        <div class="row">
            <div class="col-6">
                <thor-panel description="{{ DICT.index.documentation_text }}">
                    <thor-button menu-target="btn-documentation" icon="book"
                                 color="#469">{{ DICT.index.documentation_button }}</thor-button>
                </thor-panel>
            </div>
            <div class="col-6">
                <thor-panel description="{{ DICT.index.features_text }}">
                    <thor-button menu-target="btn-users" icon="users"
                                 color="#832">{{ DICT.index.users_button }}</thor-button>
                    <thor-button menu-target="btn-manage-permissions" icon="gavel"
                                 color="#a60">{{ DICT.index.permissions_button }}</thor-button>
                </thor-panel>
            </div>
        </div>
    </div>
{% endblock %}
