{% extends "thor/pages/base.html.twig" %}

{% block titlebar %}{{ icon('gavel', 'fas', true) }} {{ DICT.menu.users_permissions }}{% endblock %}

{% block toolbar %}
    <button class="btn btn-sm btn-success"
            onclick="addPermissionLine();"
    >
        <i class="fas fa-plus"></i>
        {{ DICT.permissions_page.add }}
    </button>
    <button class="btn btn-sm btn-primary"
            type="submit"
            form="form-permissions"
    >
        <i class="fas fa-save"></i>
        {{ DICT.permissions_page.save }}
    </button>
    <ul class="nav nav-pills d-inline-block float-end">
        {% for lang in languages %}
            <li class="nav-item float-start">
                <button class="p-2 pt-1 pb-1 nav-link {% if lang == _lang %}active{% endif %}"
                        type="button"
                        data-target=".labels-lang-{{ lang }}"
                        onclick="showTab($(this));"
                >
                    {{ lang }}
                </button>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block page %}
    <div class="alert alert-info">
        {{ icon('info-circle') }}
        {{ "permissions_page.text"|_({
            'permissionsFile': '/app/res/static/permissions.yml',
            'langsFile': '/app/res/static/langs/*.yml'
        }) }}
    </div>
    <form id="form-permissions" action="{{ url('permissions-update') }}" method="POST">
        <div class="row" style="font-weight: bold;">
            <div class="col-3 align-self-end">
                {{ DICT.menu.users_permissions }}
            </div>
            <div class="col-6">
                {{ DICT.general.label }}
            </div>
            <div class="col-3">
            </div>
        </div>
        <div id="permissions">
            {% for permission in permissions %}
                {% include "thor/fragments/permission.html.twig" %}
            {% endfor %}
        </div>
    </form>
{% endblock %}

{% block page_js %}
    <script>
        var $permissions = $("#permissions");

        function showTab($button) {
            let $targets = $($button.data('target'));
            $(".tab-pane").removeClass("show").removeClass("active");
            $targets.each((index, element) => {
                $(element).addClass("show").addClass("active");
            });
            $("button.nav-link").removeClass("active");
            $button.addClass("active");
        }

        function addPermissionLine() {
            $.get("{{ url('permission-line') }}", {}, (response) => {
                $permissions.append(response);
            });

        }

        function deletePermission(btn) {
            $(btn).parent().parent().parent().remove();
        }
    </script>
{% endblock %}
