<div id="world-bar" class="p-2 bg-opacity-50 bg-primary d-flex">
    <div class="p-1 me-2 bg-dark text-light" style="color: #999"
    >
        Tour
        <span class="badge bg-primary">
                    {{ icon('clock', fixed=true) }}
                    1
                </span>
    </div>
</div>
<div id="people-bar" class="p-2 bg-opacity-50 bg-secondary d-flex">
    <button class="btn btn-sm bg-light me-4 text-nowrap"
            title="Ouvre une modale de gestion du peuple"
            style="width: 12em; text-align: left"
    >
        {{ icon('users fa-lg', fixed=true) }}
        {{ data.peopleName }}
    </button>
    {% for key,resource in data.resources.general %}
        {% include "evolution/resource.html.twig" with {prefix: "people"} %}
    {% endfor %}
    <div class="ms-2 me-2"></div>
    {% for key,resource in data.resources.people %}
        {% include "evolution/resource.html.twig" %}
    {% endfor %}
</div>
<div id="city-bar" class="p-2 bg-opacity-25 bg-secondary d-flex">
    <button class="btn btn-sm bg-light me-4 text-nowrap"
            title="Ouvre une modale de gestion de la ville"
            style="width: 12em; text-align: left"
    >
        {{ icon('tent fa-lg', fixed=true) }}
        {{ data.cityName }}
    </button>
    {% for key,resource in data.resources.general %}
        {% include "evolution/resource.html.twig" with {prefix: "city"} %}
    {% endfor %}
    <div class="ms-2 me-2"></div>
    {% for key,resource in data.resources.city %}
        {% include "evolution/resource.html.twig" %}
    {% endfor %}
    <div class="flex-grow-1 text-end">
        <button class="btn btn-sm btn-outline-secondary" data-bs-toggle="collapse"
                title="Ressources"
                data-bs-target="#collapsible-bars">
            {{ icon('caret-down') }}
            {{ icon('cubes fa-lg') }}
        </button>
    </div>
</div>
<div id="collapsible-bars" class="collapse text-white">
    <div class="p-2 float-end">
        <div class="resource-category text-end">
            {{ icon('paw fa-lg', fixed=true) }}
            Animaux
        </div>
        <div id="animals-bar" class="d-flex">
            {% for key,resource in data.resources.animals %}
                {% include "evolution/resource.html.twig" with {bg: "dark", max: 0} %}
            {% endfor %}
        </div>
    </div>
    <div class="p-2 bg-dark bg-opacity-75 border">
        <div class="resource-category">
            {{ icon('diamond fa-lg', fixed=true) }}
            Matériaux bruts
        </div>
        <div id="resources1-bar" class="d-flex">
            {% for key,resource in data.resources.raw1 %}
                {% include "evolution/resource.html.twig" with {bg: "dark", max: 0} %}
            {% endfor %}
        </div>
        <div id="resources2-bar" class="d-flex mt-2">
            {% for key,resource in data.resources.raw2 %}
                {% include "evolution/resource.html.twig" with {bg: "dark", max: 0} %}
            {% endfor %}
        </div>
        <div id="resources3-bar" class="d-flex mt-2">
            {% for key,resource in data.resources.raw3 %}
                {% include "evolution/resource.html.twig" with {bg: "dark", max: 0} %}
            {% endfor %}
        </div>
    </div>

    <div class="p-2 bg-dark bg-opacity-75 border">
        <div class="resource-category">
            {{ icon('industry fa-lg', fixed=true) }}
            Matériaux usinés
        </div>
        <div id="materials1-bar" class="d-flex">
            {% for key,resource in data.resources.buildingMaterials %}
                {% include "evolution/resource.html.twig" with {bg: "dark", max: 0} %}
            {% endfor %}
        </div>
        <div id="materials2-bar" class="d-flex mt-2">
            {% for key,resource in data.resources.otherMaterials %}
                {% include "evolution/resource.html.twig" with {bg: "dark", max: 0} %}
            {% endfor %}
        </div>
    </div>

    <div class="p-2 bg-dark bg-opacity-75 border">
        <div class="resource-category">
            {{ icon('tools fa-lg', fixed=true) }}
            Outils
        </div>
        <div id="materials-bar" class="d-flex">
            {% for key,resource in data.resources.tools %}
                {% include "evolution/resource.html.twig" with {bg: "dark", max: 0} %}
            {% endfor %}
        </div>
    </div>
</div>
