{% extends "thor/pages/base.html.twig" %}

{% block titlebar %}{{ icon('play', 'fas', true) }} Evolution{% endblock %}

{% block toolbar %}
    <div class="d-inline-block me-2">
        {{ icon('clock') }}
        Tour <span class="text-primary">{{ 1 }}</span>
    </div>
    <div class="d-inline-block me-4">
        {{ icon('landmark') }}
        Âge <span class="text-primary">{{ 1 }}</span>
    </div>
    <div class="d-inline-block me-2 ps-4 border-start border-dark">
        <label>
            {{ icon('border-all') }} Sélection
            <select class="form-select form-select-sm d-inline-block ms-1" style="width: 180px;">
                <option>Toutes les villes</option>
                <optgroup label="Ville">
                    <option></option>
                </optgroup>
            </select>
        </label>
    </div>
    <div class="d-inline-block me-4">
        <label>
            {{ icon('search') }} Zoom
            <select class="form-select form-select-sm d-inline-block ms-1" style="width: 180px;">
                <option title="Vue globale du monde">Monde</option>
                <option title="Vue zoomable pour diriger les armées">Tactique</option>
                <option title="Vue zoomable pour diriger les explorations">Exploration</option>
                <option title="Vue de la ville et ses alentours">Ville</option>
            </select>
        </label>
        <div class="btn-group btn-group-sm">
            <button class="btn btn-success" disabled>
                {{ icon('plus', fixed=true) }}
            </button>
            <button class="btn btn-warning" disabled>
                {{ icon('minus', fixed=true) }}
            </button>
        </div>
    </div>
    <div class="d-inline-block me-2 ps-4 border-start border-dark">
        <button class="btn btn-dark btn-sm me-1" title="Avancement">
            {{ icon('code-branch', 'far fa-lg', true) }}
        </button>
        <button class="btn btn-dark btn-sm me-1" title="Carte">
            {{ icon('map', 'far fa-lg', true) }}
        </button>
        <button class="btn btn-dark btn-sm" title="Peuple">
            {{ icon('users', 'far fa-lg', true) }}
        </button>
        <button class="btn btn-dark btn-sm" title="Nation">
            {{ icon('flag', 'far fa-lg', true) }}
        </button>
        |
        <button class="btn btn-dark btn-sm" title="Diplomatie">
            {{ icon('handshake-alt', fixed=true) }}
        </button>
        <button class="btn btn-dark btn-sm" title="Commerce">
            {{ icon('store', 'far fa-lg', true) }}
        </button>
        <button class="btn btn-dark btn-sm" title="Forum">
            {{ icon('comments', 'far fa-lg', true) }}
        </button>
        |
        <button class="btn btn-dark btn-sm" title="Rang">
            {{ icon('list', 'far fa-lg', true) }}
        </button>
        <button class="btn btn-dark btn-sm" title="Options">
            {{ icon('cogs', 'far fa-lg', true) }}
        </button>
    </div>
{% endblock %}

{% block page %}
    <div id="game" class="row p-1">
        <div class="col-2">
            <div class="info border p-1">
                <div class="d-flex flex-column justify-content-start w-100 border mb-1">
                    {% for r in resources %}
                        {% if r.resource.is(1) %}
                            <div class="resource flex" style="color: {{ r.resource.color }}; height: 2em;">
                                <span class="label">
                                    {{ r.resource.name }}
                                    {{ icon(r.resource.icon, 'far fa-lg', fixed=true) }}
                                </span>
                                <div style="position: absolute; bottom: 4px; font-weight: bold">
                                    {{ r }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="info border p-1">
                <div class="d-flex flex-column justify-content-start w-100 border mb-1">
                    {% for r in resources %}
                        {% if not r.resource.is(1) %}
                            <div class="resource flex" style="color: {{ r.resource.color }}; height: 2em;">
                                <span class="label">
                                    {{ r.resource.name }}
                                    {{ icon(r.resource.icon, 'far fa-lg', fixed=true) }}
                                </span>
                                <div style="position: absolute; bottom: 4px; font-weight: bold; color: #ccc">
                                    {{ r }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-8 border">
            <div id="screen" class="" style="height: 480px;">

            </div>
        </div>
    </div>


    <script src="{{ asset('game') }}"></script>
    <script>

        function random(min, max) {
            return Math.floor(
                (max * Math.random()) + min + 1
            );
        }

        function tileType(name, color) {
            return {name, color};
        }

        const TYPE_PLAIN = tileType("Plaine", "#cfc");
        const TYPE_WATER = tileType("Eau", "#acf");

        function $tile(x, y, type) {
            return $(
                `<div class="tile" data-pos-x="${x}" data-pos-y="${y}"
    style="position: absolute; border: 1px solid #ccc; background: ${type.color};"
    ></div>`
            );
        }

        function createTiles(startX, startY, sizeX, sizeY) {
            let tiles = [];
            for (let y = startY; y < startY + sizeY; y++) {
                for (let x = startX; x < startX + sizeX; x++) {
                    tiles.push($tile(x, y, TYPE_PLAIN));
                }
            }
        }

        function showGrid(tiles) {
            for (const tile of tiles) {
                tile.css("left", "");
                tile.css("top", "");
            }
        }

    </script>

{% endblock %}
