{% extends "thor/base.html.twig" %}

{% block head_css %}

    <style>
        .container .d-flex > .res {
            font-size: 10pt;
            width: 6em;
            text-align: right;
            line-height: 1em;
            height: 2.6em;
            position: relative;
        }

        .resource-category {
            margin-bottom: 6px;
        }

        .container .d-flex > .res .label {
            position: absolute;
            left: 1px;
            bottom: -2px;
            opacity: 1;
            font-size: 0.6em;
            font-weight: bold;
        }

        .container .d-flex > .res .fa-regular {
            position: absolute;
            left: 1px;
            bottom: 20px;
            opacity: 0.50;
        }
    </style>

{% endblock %}

{% block body_html %}
    <div class="container">
        <div id="world-bar" class="p-2 bg-opacity-50 bg-primary d-flex">
            <div class="p-1 me-2 bg-dark text-light" style="color: #999"
            >
                Tour
                <span class="badge bg-primary">
                    {{ icon('clock', fixed=true) }}
                    1
                </span>
            </div>
        </div>
        <div id="people-bar" class="p-2 bg-opacity-50 bg-secondary d-flex">
            <button class="btn btn-sm bg-light me-4 text-nowrap"
                    title="Ouvre une modale de gestion du peuple"
            >
                {{ icon('users fa-lg', fixed=true) }}
                <span class="placeholder" style="width: 10em;"></span>
            </button>
            {% for key,resource in data.resources.general %}
                {% include "evolution/resource.html.twig" with {prefix: "people"} %}
            {% endfor %}
            <div class="ms-2 me-2"></div>
            {% for key,resource in data.resources.people %}
                {% include "evolution/resource.html.twig" %}
            {% endfor %}
        </div>
        <div id="city-bar" class="p-2 bg-opacity-25 bg-secondary d-flex">
            <button class="btn btn-sm bg-light me-4 text-nowrap"
                    title="Ouvre une modale de gestion de la ville"
            >
                {{ icon('tent fa-lg', fixed=true) }} <span class="placeholder" style="width: 10em;"></span>
            </button>
            {% for key,resource in data.resources.general %}
                {% include "evolution/resource.html.twig" with {prefix: "city"} %}
            {% endfor %}
            <div class="ms-2 me-2"></div>
            {% for key,resource in data.resources.city %}
                {% include "evolution/resource.html.twig" %}
            {% endfor %}
            <div class="flex-grow-1 text-end">
                <button class="btn btn-sm btn-outline-secondary" data-bs-toggle="collapse"
                        title="Ressources"
                        data-bs-target="#collapsible-bars">
                    {{ icon('caret-down') }}
                    {{ icon('cubes fa-lg') }}
                </button>
            </div>
        </div>
        <div id="collapsible-bars" class="collapse">
            <div class="p-2 float-end">
                <div class="resource-category text-end">
                    {{ icon('paw fa-lg', fixed=true) }}
                    Animaux
                </div>
                <div id="animals-bar" class="d-flex">
                    {% for key,resource in data.resources.animals %}
                        {% include "evolution/resource.html.twig" with {bg: "dark", max: 0} %}
                    {% endfor %}
                </div>
            </div>
            <div class="p-2 bg-light border">
                <div class="resource-category">
                    {{ icon('diamond fa-lg', fixed=true) }}
                    Matériaux bruts
                </div>
                <div id="resources1-bar" class="d-flex">
                    {% for key,resource in data.resources.rawPrimary %}
                        {% include "evolution/resource.html.twig" with {bg: "dark", max: 0} %}
                    {% endfor %}
                </div>
                <div id="resources2-bar" class="d-flex mt-2">
                    {% for key,resource in data.resources.rawSecondary %}
                        {% include "evolution/resource.html.twig" with {bg: "dark", max: 0} %}
                    {% endfor %}
                </div>
            </div>

            <div class="p-2 bg-light border">
                <div class="resource-category">
                    {{ icon('industry fa-lg', fixed=true) }}
                    Matériaux usinés
                </div>
                <div id="materials1-bar" class="d-flex">
                    {% for key,resource in data.resources.buildingMaterials %}
                        {% include "evolution/resource.html.twig" with {bg: "dark", max: 0} %}
                    {% endfor %}
                </div>
                <div id="materials2-bar" class="d-flex mt-2">
                    {% for key,resource in data.resources.otherMaterials %}
                        {% include "evolution/resource.html.twig" with {bg: "dark", max: 0} %}
                    {% endfor %}
                </div>
            </div>

            <div class="p-2 bg-light border">
                <div class="resource-category">
                    {{ icon('tools fa-lg', fixed=true) }}
                    Outils
                </div>
                <div id="materials-bar" class="d-flex">
                    {% for key,resource in data.resources.tools %}
                        {% include "evolution/resource.html.twig" with {bg: "dark", max: 0} %}
                    {% endfor %}
                </div>
            </div>
        </div>


    </div>
{% endblock %}
