{% extends "thor/base.html.twig" %}

{% block menu %}{% endblock %}
{% block footer %}{% endblock %}

{% block head_css %}
    {{ parent() }}
    <style>
        #menu {
            display: none;
        }
        #footer {
            position: fixed;
            width: 100%;
            text-align: center;
            height: 60px;
        }
        #content {
            margin: 0;
            padding-top: 64px;
            width: 100%;
        }
    </style>
{% endblock %}

{% block body_content %}
    <div style="width: 400px; margin: auto; text-align: center">
        <h1 class="mb-4">
            <i class="fas fa-lg fa-sign-in"></i><br>
            {{ "users.login.connect"|_({appName}) }}
        </h1>
        <form method="post" action="{{ url('check') }}">
            <div class="form-group">
                <label for="username">{{ DICT.users.user }}</label>
                <input type="text" id="username" name="username" class="form-control">
            </div>
            <div class="form-group mt-2">
                <label for="password">{{ DICT.users.password }}</label>
                <input type="password" id="password" name="password" class="form-control">
            </div>
            <button class="btn btn-outline-primary mt-3">
                <i class="fas fa-sign-in"></i> {{ DICT.users.connect }}
            </button>
        </form>
    </div>
{% endblock %}
