<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    {% for item in menu %}
        {% set is_group = item.group is defined %}
        {% if (item.authorization is defined and authorized(item.authorization)) or item.authorization is not defined %}
            {% if not is_group %}
                <li class="nav-item">
                    <a
                            href="#"
                            id="btn-{{ item.route }}"
                            onclick="menuClick($(this));"
                            data-url="{% if item.route != '.' %}{{ url(item.route) }}{% else %}#{% endif %}"
                            data-item="{{ item.route }}"
                            title="{{ DICT.menu[item.label] ?? item.label ?? '' }}"
                            class="nav-link {% if server.currentRouteName == item.route %}active{% endif %}"
                    >
                        {{ icon(item.icon, (item.icon_col ?? 'fas'), true) }}
                        <span class="menu-label" title="{{ item.key }}">
                            {{ DICT.menu[item.label] ?? item.label ?? '' }}
                        </span>
                    </a>
                </li>
            {% else %}
                {% set subactive = false %}
                {% for sub_item in item.group %}
                    {% if sub_item.route == server.currentRouteName %}{% set subactive = true %}{% endif %}
                {% endfor %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if subactive %}active{% endif %}" href="#" data-bs-toggle="dropdown">
                        {{ icon(item.icon, (item.icon_col ?? 'fas'), true) }}
                        {{ DICT.menu[item.label] ?? item.label ?? '' }}
                    </a>
                    <ul class="dropdown-menu">
                        {% if item.route is defined %}
                            <li>
                                <a
                                        href="#"
                                        id="btn-{{ item.route }}"
                                        onclick="menuClick($(this));"
                                        data-url="{% if item.route != '.' %}{{ url(item.route) }}{% else %}#{% endif %}"
                                        data-item="{{ item.route }}"
                                        title="{{ DICT.menu[item.label] ?? item.label ?? '' }}"
                                        class="dropdown-item {% if server.currentRouteName == item.route %}active{% endif %}"
                                >
                                    {{ icon(item.icon, (item.icon_col ?? 'fas'), true) }}
                                    <span class="menu-label">
                                        {{ DICT.menu[item.label] ?? item.label ?? '' }}
                                    </span>
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                        {% endif %}
                        {% for sub_item in item.group %}
                            {% if sub_item == 'divider' %}
                                <li><hr class="dropdown-divider"></li>
                            {% else %}
                                {% if (sub_item.authorization is defined and authorized(sub_item.authorization)) or sub_item.authorization is not defined %}
                                    <li>
                                        <a
                                                href="#"
                                                id="btn-{{ sub_item.route }}"
                                                onclick="menuClick($(this));"
                                                data-url="{% if sub_item.route != '.' %}{{ url(sub_item.route) }}{% else %}#{% endif %}"
                                                data-item="{{ sub_item.route }}"
                                                title="{{ DICT.menu[sub_item.label] ?? sub_item.label ?? '' }}"
                                                class="dropdown-item {% if server.currentRouteName == sub_item.route %}active{% endif %}"
                                        >
                                            {% if sub_item.key is defined %}
                                                <span class="keys float-end">
                                                    {% for k in sub_item.key|split('+') %}<kbd>{{ k }}</kbd>{% if not loop.last %}+{% endif %}{% endfor %}
                                                </span>
                                            {% endif %}
                                            {{ icon(sub_item.icon, (sub_item.icon_col ?? 'fas'), true) }}
                                            {{ DICT.menu[sub_item.label] ?? sub_item.label ?? '' }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>
<script>
    function unselect($elem) {
        $elem.removeClass("active")
    }

    function menuClick($elem) {
        let url = $elem.data("url");
        unselect($("#menu ul li a"));
        loadPage(url, null, (response) => {
            $elem.addClass("active");
            if ($elem.hasClass("dropdown-item")) {
                $elem.parent().parent().parent().find("a.dropdown-toggle").addClass("active");
            }
            window.history.pushState({"html": response}, null, "?menuItem=" + $elem.data("item"));
        });
    }
</script>
