<ul>
    {% for item in menu %}
        {% set is_group = item.group is defined %}
        {% if (item.authorization is defined and authorization(item.authorization)) or item.authorization is not defined %}
            <li class="d-flex mb-1">
                <button
                        id="btn-{{ item.route }}"
                        onclick="menuClick($(this));"
                        data-url="{% if item.route != '.' %}{{ url(item.route) }}{% else %}#{% endif %}"
                        data-item="{{ item.route }}"
                        class="flex-fill {% if server.currentRouteName == item.route %}selected{% endif %}"
                >
                    {{ icon(item.icon, 'mr-2 fa-lg ' ~ (item.icon_col ?? 'fas'), true) }}
                    {{ DICT.menu[item.label] ?? item.label ?? '' }}
                </button>
                {% if is_group %}
                    {% for sub_item in item.group %}
                        {% if (sub_item.authorization is defined and authorization(sub_item.authorization)) or sub_item.authorization is not defined %}
                            <button
                                    id="btn-{{ sub_item.route }}"
                                    onclick="menuClick($(this));"
                                    data-url="{% if sub_item.route != '.' %}{{ url(sub_item.route) }}{% else %}#{% endif %}"
                                    data-item="{{ sub_item.route }}"
                                    title="{{ DICT.menu[sub_item.label] ?? sub_item.label ?? '' }}"
                                    {% if server.currentRouteName == sub_item.route %}class="selected"{% endif %}
                            >
                                {{ icon(sub_item.icon, 'fa-lg ' ~ (sub_item.icon_col ?? 'fas'), true) }}
                            </button>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ul>
<script>
    function unselect($elem) {
        $elem.removeClass("selected")
    }

    function menuClick($elem) {
        let url = $elem.data("url");
        unselect($("#menu ul li button"));
        loadPage(url, null, (response) => {
            $elem.addClass("selected");
            window.history.pushState({"html": response}, null, "?menuItem=" + $elem.data("item"));
        });
    }
</script>
