{% extends "modal-base.html.twig" %}

{% block modal_title %}
    {% if user == server.security.currentIdentity %}
        {{ DICT.users.change_password }}
    {% else %}
        {{ DICT.users.edit_user }} ({{ user.identifier }} #{{ user.publicId|slice(0, 9) }})
    {% endif %}
{% endblock %}

{% block modal_size %}modal-lg{% endblock %}

{% block modal_body %}
    <form id="form-password" action="{{ url('users-change-password-action', {'public_id': user.publicId}) }}"
          method="POST">
        <div class="row">
            <div class="col-lg-6 form-group">
                <label for="password">
                    {{ DICT.users.new_password }}
                    <button type="button" class="btn btn-success btn-sm p-0"
                            title="{{ DICT.users.hide_password }}"
                            onclick="$('#password, #confirm-password').attr('type', 'password')"
                    >
                        {{ icon('eye-slash') }} {{ DICT.general.hide|lower }}
                    </button>
                    <button type="button" class="btn btn-danger btn-sm p-0"
                            title="{{ DICT.users.show_password }}"
                            onclick="$('#password, #confirm-password').attr('type', 'text')"
                    >
                        {{ icon('eye') }} {{ DICT.general.show|lower }}
                    </button>
                </label>
                <input type="text" name="password" id="password" value="{{ generatedPassword }}" class="form-control">
                <em>{{ DICT.users.min_size }}</em>
            </div>
            <div class="col-lg-6 form-group">
                <label for="confirm-password">{{ DICT.users.confirm_password }}</label>
                <input type="text" name="confirm-password" id="confirm-password" value="{{ generatedPassword }}"
                       class="form-control">
            </div>
        </div>
        <small class="form-text text-muted">{{ icon('exclamation-triangle') }} {{ DICT.users.password_warning|raw }}</small>
    </form>
{% endblock %}

{% block modal_footer %}
    <button class="btn btn-outline-dark"
            onclick="$('#password, #confirm-password').val('{{ generatedPassword }}');"
            type="button"
    >
        {{ DICT.users.generated_password }}
    </button>
    <button class="btn btn-outline-dark"
            onclick="$('#password, #confirm-password').val('');"
            type="button"
    >
        {{ DICT.general.clean_fields }}
    </button>
    <button form="form-password" type="submit" class="btn btn-primary">
        {{ DICT.users.change_password }}
    </button>
{% endblock %}
