{% extends "modal-base.html.twig" %}

{% block modal_title %}{{ DICT.users.edit_user }}{% endblock %}

{% block modal_body %}
    <form id="form-create-user" action="{{ url('users-edit-action', {'public_id': user.publicId}) }}" method="POST">
        <div class="form-group">
            <label for="user-id">{{ DICT.general.id }}</label>
            <input readonly type="text" id="user-id" value="{{ user.primaryString }}" class="form-control">
        </div>
        <div class="form-group mt-2">
            <label for="user-public_id">{{ DICT.general.public_id }}</label>
            <input readonly type="text" id="user-public_id" value="{{ user.publicId }}" class="form-control">
        </div>
        <div class="form-group mt-2">
            <label for="user-username">{{ DICT.users.username }}</label>
            <input type="text" id="user-username" name="username" value="{{ user.identifier }}" class="form-control">
        </div>
        <hr>
        {% include 'pages/users_modals/permissions.html.twig' %}
    </form>
{% endblock %}

{% block modal_footer %}
    <button form="form-create-user" type="submit" class="btn btn-primary">
        {{ DICT.general.edit }}
    </button>
{% endblock %}
