{% extends "base.html.twig" %}

{% block head_css %}
    <link rel="stylesheet" href="/assets/thor/thor-theme.css">
{% endblock %}

{% block body_html %}
    <div id="menu">
        {% block menu %}
            <h1 class="text-center mt-4 mb-0 " style="color: #bbb;">
                {{ icon('bolt', 'fad fa-lg', true, '--fa-secondary-opacity: 1; --fa-primary-color: #fc0; --fa-secondary-color: #c80;')|raw }}
                <br>
                TT
            </h1>
            <div class="text-center mb-4" style="color: #ddd; font-size: 0.75em;">
                PHP Framework
            </div>
            {{ render('Main', 'menu')|raw }}
        {% endblock %}
    </div>
    <div id="content">
        <div id="toolbar">{% block toolbar %}{% endblock %}</div>
        <div id="titlebar">{% block titlebar %}{% endblock %}</div>
        <div id="page">{% block page %}{% endblock %}</div>
    </div>
    <div id="footer" class="pt-2">
        <div>
            {{ icon('bolt', 'fad fa-lg', true, '--fa-secondary-opacity: 1; --fa-primary-color: #fc0; --fa-secondary-color: #c80;')|raw }}
            Trehinos/Thor v0.1
        </div>
        <div>{{ icon('copyright', 'far fa-lg', true)|raw }} 2020 Sébastien GELDREICH</div>
        <div class="mt-1 pt-1 border-top border-secondary">
            {{ icon('info-circle', 'fas fa-lg', true)|raw }}
            <a href="#">{{ _.footer.about }}</a> -
            <a href="#">{{ _.footer.legal }}</a> -
            <a href="{{ url('changelog') }}">{{ _.footer.changelog }}</a>
        </div>
    </div>

    <div id="modal" class="modal" tabindex="-1" role="dialog">
        {% include "modal.html.twig" %}
    </div>
{% endblock %}

{% block body_js %}
    <script src="/assets/thor/thor-lib.js"></script>
{% endblock %}
