{% extends "modal-base.html.twig" %}

{% block modal_title %}{{ DICT.users.create_user }}{% endblock %}

{% block modal_body %}
<form id="form-create-user" action="{{ url('users-create-action') }}" method="POST">
    <div class="form-group">
        <label for="user-username">{{ DICT.users.username }}</label>
        <input type="text" id="user-username" name="username" value="" class="form-control">
    </div>
    <div class="form-group mt-2">
        <label for="user-password">
            {{ DICT.users.password }}
            <button type="button" class="btn btn-success btn-sm p-1"
                    title="{{ DICT.users.hide_password }}"
                    onclick="$('#user-password').attr('type', 'password')"
            >
                {{ icon('eye-slash') }} cacher
            </button>
            <button type="button" class="btn btn-danger btn-sm p-1"
                    title="{{ DICT.users.show_password }}"
                    onclick="$('#user-password').attr('type', 'text')"
            >
                {{ icon('eye') }} afficher
            </button>
        </label>
        <input type="text" id="user-password" name="password" value="{{ generatedPassword }}" class="form-control">
    </div>
    <small class="form-text text-muted">{{ icon('exclamation-triangle') }} {{ DICT.users.password_warning|raw }}</small>
    <hr>
    {% include 'thor/pages/users_modals/permissions.html.twig' %}
</form>
{% endblock %}

{% block modal_footer %}
    <button class="btn btn-outline-dark"
            onclick="$('#user-password').val('{{ generatedPassword }}');"
            type="button"
    >
        Mot de passe généré
    </button>
    <button class="btn btn-outline-dark"
            onclick="$('#user-password').val('');"
            type="button"
    >
        Vider le champ
    </button>
    <button form="form-create-user" type="submit" class="btn btn-primary">
        {{ DICT.general.create }}
    </button>
{% endblock %}
