<div id="titlebar">{{ icon('code-branch', 'fas', true)|raw }} {{ _.changelog.title }}</div>
<div id="page">
    <div id="versions" class="d-flex flex-wrap">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    {{ _.changelog.legend }}
                </h5>
                <div class="card-text">
                    <ul class="fa-ul">
                        <li>
                            <span class="fa-li" style="color: #07b">{{ icon('plus-square')|raw }}</span>
                            Added
                        </li>
                        <li>
                            <span class="fa-li" style="color: #0b7">{{ icon('sync')|raw }}</span>
                            Modified
                        </li>
                        <li>
                            <span class="fa-li" style="color: #a40">{{ icon('bug')|raw }}</span>
                            Bug fixed
                        </li>
                        <li>
                            <span class="fa-li" style="color: #96f">{{ icon('palette')|raw }}</span>
                            Style
                        </li>
                        <li>
                            <span class="fa-li" style="color: #c00">{{ icon('minus-square')|raw }}</span>
                            Removed
                        </li>
                        <li>
                            <span class="fa-li" style="color: #888">{{ icon('sticky-note')|raw }}</span>
                            Notes
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card flex-fill">
            <div class="card-body">
                <h5 class="card-title">
                    Version &delta; [0.4] <small class="text-muted">future</small>
                </h5>
                <div class="card-text">
                    <ul class="fa-ul">
                        <li>
                            <span class="fa-li" style="color: #07b;">{{ icon('plus-square')|raw }}</span>
                        </li>
                        <li>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card flex-fill">
            <div class="card-body">
                <h5 class="card-title">
                    Version &gamma; [0.3] <small class="text-primary">in dev</small>
                </h5>
                <div class="card-text">
                    <ul class="fa-ul">
                        <li>
                            <span class="fa-li" style="color: #0b7">{{ icon('sync')|raw }}</span>
                            Database module cleaned and fixed
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card flex-fill">
            <div class="card-body">
                <h5 class="card-title">
                    Version &beta; [0.2] <small class="text-muted">2021-01-30</small>
                </h5>
                <div class="card-text">
                    <ul class="fa-ul">
                        <li>
                            <span class="fa-li" style="color: #07b;">{{ icon('plus-square')|raw }}</span>
                            User : Change password
                        </li>
                        <li>
                            <span class="fa-li" style="color: #07b">{{ icon('plus-square')|raw }}</span>
                            DB definitions
                        </li>
                        <li>
                            <span class="fa-li" style="color: #07b">{{ icon('plus-square')|raw }}</span>
                            Security module
                        </li>
                        <li>
                            <span class="fa-li" style="color: #0b7">{{ icon('sync')|raw }}</span>
                            From Trehinos/Ombre
                            <ul>
                                <li>PHP 8.0 rewrite</li>
                                <li>CliKernel</li>
                                <li>Improvements</li>
                                <li>Page AJAX loading</li>
                                <li>Delete user</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    Version &alpha; [0.1] <small class="text-muted">2020-07-14</small>
                </h5>
                <div class="card-text">
                    <ul class="fa-ul">
                        <li>
                            <span class="fa-li" style="color: #07b">{{ icon('plus-square')|raw }}</span>
                            Kernel, application, HTTP module, PdoExtension, Logger, Validation
                        </li>
                        <li>
                            <span class="fa-li" style="color: #07b">{{ icon('plus-square')|raw }}</span>
                            Framework structure
                        </li>
                        <li>
                            <span class="fa-li" style="color: #07b">{{ icon('plus-square')|raw }}</span>
                            Web user management
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>