{% extends "pages/base.html.twig" %}

{% block titlebar %}{{ icon('gavel', 'fas', true) }} Permissions{% endblock %}

{% block toolbar %}
    <button class="btn btn-sm btn-success"
            onclick="addPermissionLine();"
    >
        <i class="fas fa-plus"></i>
        Ajouter une ligne
    </button>
    <button class="btn btn-sm btn-primary float-end"
            type="submit"
            form="form-permissions"
    >
        <i class="fas fa-save"></i>
        Enregistrer les permissions
    </button>
{% endblock %}

{% block page %}
    <div class="alert alert-info">
        Ce formulaire permet d'éditer les permissions disponibles dans <strong>Thor.</strong>.<br>
        Il édite :
        <ul>
            <li>le fichier <code>/app/res/static/permissions.yml</code> et</li>
            <li>le fichier de langage courant dans <code>/app/res/static/langs/</code>.</li>
        </ul>
    </div>
    <form id="form-permissions" action="{{ url('permissions-update') }}" method="POST">
        <div class="row" style="font-weight: bold;">
            <div class="col-3">
                Permission
            </div>
            <div class="col-6">
                Label
                <ul class="nav nav-pills">
                    {% for lang in languages %}
                        <li class="nav-item">
                            <button class="nav-link {% if loop.index == 1 %}active{% endif %}"
                                    type="button"
                                    data-target=".labels-lang-{{ lang }}"
                                    onclick="showTab($(this));"
                            >
                                {{ lang }}
                            </button>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-3">
            </div>
        </div>
        <div id="permissions">
            {% for permission in permissions %}
                {% include "fragments/permission.html.twig" %}
            {% endfor %}
        </div>
    </form>
{% endblock %}

{% block page_js %}
    <script>
            var $permissions = $("#permissions");

            function showTab($button) {
                let $targets = $($button.data('target'));
                $(".tab-pane").removeClass("show").removeClass("active");
                $targets.each((index, element) => {
                    $(element).addClass("show").addClass("active");
                });
                $("button.nav-link").removeClass("active");
                $button.addClass("active");
            }

            function addPermissionLine() {
                $.get("{{ url('permission-line') }}", {}, (response) => {
                    $permissions.append(response);
                });

            }

            function deletePermission(btn) {
                $(btn).parent().parent().parent().remove();
            }
    </script>
{% endblock %}
