{% extends "pages/base.html.twig" %}

{% block titlebar %}{{ icon('gavel', 'fas', true) }} Permissions{% endblock %}

{% block toolbar %}
    <button class="btn btn-sm btn-success"
            onclick="addPermissionLine();"
    >
        <i class="fas fa-plus"></i>
        Ajouter une ligne
    </button>
    <button class="btn btn-sm btn-primary float-end"
            type="submit"
            form="form-permissions"
    >
        <i class="fas fa-save"></i>
        Enregistrer les permissions
    </button>
{% endblock %}

{% block page %}
    <div class="alert alert-info">
        Ce formulaire permet d'éditer les permissions disponibles dans <strong>Thor.</strong>.<br>
        Il édite :
        <ul>
            <li>le fichier <code>/app/res/static/permissions.yml</code> et</li>
            <li>le fichier de langage courant dans <code>/app/res/static/langs/</code>.</li>
        </ul>
    </div>
    <form id="form-permissions" action="{{ url('permissions-update') }}" method="POST">
        <div class="row" style="font-weight: bold;">
            <div class="col-3">
                Permission
            </div>
            <div class="col-6">
                Label
                <ul class="nav nav-pills">
                    {% for lang in languages %}
                        <li class="nav-item">
                            <button class="nav-link {% if loop.index == 1 %}active{% endif %}"
                                    type="button"
                                    data-target=".labels-lang-{{ lang }}"
                                    onclick="showTab($(this));"
                            >
                                {{ lang }}
                            </button>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-3">
            </div>
        </div>
        <div id="permissions">
            {% for permission in permissions %}
                <div class="form-group mt-2">
                    <div class="row">
                        <div class="col-3">
                            <input class="form-control" value="{{ permission.permission }}"
                                   id="permission-{{ permission.permission }}" name="permissions[permission][]"
                            >
                        </div>
                        <div class="col-6">
                            <div class="tab-content">
                                {% for lang in languages %}
                                    <div class="labels-lang-{{ lang }} tab-pane fade {% if loop.index == 1 %}show active{% endif %}">
                                        <input class="form-control" value="{{ permission.label[lang] }}"
                                               id="label-{{ permission.permission }}-lang-{{ lang }}"
                                               name="permissions[label][{{ lang }}][]"
                                        >
                                    </div>
                                {% endfor %}
                            </div>

                        </div>
                        <div class="col-3 pt-1">
                            <button class="btn btn-sm btn-danger"
                                    type="button"
                                    onclick="deletePermission(this);"
                            >
                                <i class="fas fa-times"></i>
                                Supprimer
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </form>
{% endblock %}

{% block page_js %}
    <script>
        let $permissions = $("#permissions");
        const newPermission = `<div class="form-group mt-2">
    <div class="row">
        <div class="col-3">
            <input class="form-control" value="" name="permissions[permission][]">
        </div>
        <div class="col-6">
            <input class="form-control" value="" name="permissions[label][]">
        </div>
        <div class="col-3 pt-1">
            <button class="btn btn-sm btn-danger" type="button" onclick="deletePermission(this);">
                <i class="fas fa-times"></i>
                Supprimer
            </button>
        </div>
    </div>
</div>`;

        function showTab($button) {
            let $targets = $($button.data('target'));
            $(".tab-pane").removeClass("show").removeClass("active");
            $targets.each((index, element) => {
                $(element).addClass("show").addClass("active");
            });
            $("button.nav-link").removeClass("active");
            $button.addClass("active");
        }

        function addPermissionLine() {
            $permissions.append(newPermission);
        }

        function deletePermission(btn) {
            $(btn).parent().parent().parent().remove();
        }

    </script>
{% endblock %}
